$smiley-green:    #5DCC99;
$smart-dark:      #0E293C;
$smrick-outer:    #F4F4F4;
$dark-aqua:       #58B0DE;
$joyful-dark:     #82919C;
$happy-orange:    #FF7959;
$happy-orange-light:    #FFE1D9;
$secure-green:    #0E293C;
$aqua-blue:       #D0FDFF;
$fortune-green:   #D1FFEA;
$grin-grey:       #F7F8FC;
