@import url("https://use.typekit.net/dbc5qdv.css");
@import 'colors.scss';

$enable-rounded: false;

/* Color overrides */
//$body-bg:                   #000;
//$body-color:                #111;
$primary:                     $smiley-green;
//$secondary:                 $gray-600;
$success:                     $fortune-green;
$info:                        $aqua-blue;
//$warning:                   $yellow;
$danger:                      $happy-orange-light;
$light:                       $grin-grey;
$dark:                        $smart-dark;

$font-family-base:            "aktiv-grotesk",sans-serif;
$btn-padding-y:               1.375rem;
$btn-padding-x:               3rem;

// Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '../node_modules/bootstrap-vue/src/index.scss';

.btn {
  line-height:                1rem;
  color:                      $white;
  font-family:                "aktiv-grotesk", sans-serif;
  font-weight:                bold;
  &.btn-danger {
    color: $happy-orange
  }
  &.btn-success {
    color: $smiley-green
  }
  &.btn-info {
    color: $dark-aqua
  }
}
.btn-danger, .btn-info, .btn-success {
  min-width:                160px;
}
